
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
  }

 /*header*/

 body{
     background-color:#010101;
 }

 header{
     display: flex;
     justify-content:flex-end;
     padding: 20px;
     height: 60px;
 }  

 button{
    background-color:#010101 ;
    color: white;
 }

 button:first-child{
     padding:2px 8px;
 }

 button:last-child{
     padding:2px;
 }

 /*main images*/

 main{
     display: flex;
 }

 main img{
     width:17%;
     margin:4px;
 }
 
#images{
    width: 90%;
    padding: 2px 0px;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}


/* right arrow*/

#right_arrow{
    width: 5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

#right_arrow i{
    color: grey;
    font-size: 40px;
}

#right_arrow p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    padding: 4px;
    justify-content: center;
}


/* left arrow*/

#left_arrow{
    width: 5%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}

#left_arrow i{
    color: rgb(38, 47, 173);
    font-size: 40px;
}

#left_arrow p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    display: flex;
    padding: 4px;
    justify-content: center;
}

#last{
    color:white;
    background-color:#232427;
    display: flex;
    justify-content: space-between;
}

/*main below*/

 /*left*/

#last_div{
    list-style-type: none;
}

#last_div ul{
    display: flex;
    flex-direction: row;
}

#last_div li{
    list-style-type: none;
    padding: 15px 5px;
}

#last_div i{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

 /*center*/

 #last_1 ul{
    display: flex;
    flex-direction: row;
}

#last_1 li{
    list-style-type: none;
    padding: 15px 10px;
}

#last_1 i{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

 /*right*/

#right_option{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:20px;
    background-color:#4a4b4d;
    color: red;
}



